xsd/OnTracUpdateResponse.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="OnTracUpdateResponse" nillable="true" type="ShipmentUpdateList" />
  <xs:complexType name="ShipmentUpdateList">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Shipments" type="ArrayOfShipmentUpdate" />
      <xs:element minOccurs="1" maxOccurs="1" name="Error" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfShipmentUpdate">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Shipment" nillable="true" type="ShipmentUpdate" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ShipmentUpdate">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Tracking" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Delivered" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="ServiceCharge" type="xs:double" />
      <xs:element minOccurs="1" maxOccurs="1" name="FuelCharge" type="xs:double" />
      <xs:element minOccurs="1" maxOccurs="1" name="TotalChrg" type="xs:double" />
      <xs:element minOccurs="1" maxOccurs="1" name="Residential" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="Weight" type="xs:double" />
      <xs:element minOccurs="1" maxOccurs="1" name="Error" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>