xsd/OnTracShipmentResponse.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="OnTracShipmentResponse" type="ShipmentResponseList" nillable="true"/>
	<xs:complexType name="ShipmentResponseList">
		<xs:sequence>
			<xs:element name="Error" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Shipments" type="ArrayOfShipmentResponse" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ArrayOfShipmentResponse">
		<xs:sequence>
			<xs:element name="Shipment" type="ShipmentResponse" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ShipmentResponse">
		<xs:sequence>
			<xs:element name="UID" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Tracking" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Error" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="TransitDays" type="xs:int" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ServiceChrg" type="xs:double" minOccurs="1" maxOccurs="1"/>
			<xs:element name="FuelChrg" type="xs:double" minOccurs="1" maxOccurs="1"/>
			<xs:element name="TotalChrg" type="xs:double" minOccurs="1" maxOccurs="1"/>
			<xs:element name="TariffChrg" type="xs:double" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Label" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="SortCode" type="xs:string" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
